<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>
<body>
    <h1>PAGINA DE LOGIN</h1>

    <form action="/admin" method="post" id="form">
        <div class="nome_div" class="id_div_">
            <label for="nome" class="nome_div"">USUÁRIO</label>
            <br>
            <input type="text" name="usuario" class="nome_div, input">
        </div>
        <div class="nome_div" class="id_div_">
            <label for="senha" class="nome_div">SENHA</label>
            <br>
            <input type="password" name="senha" class="nome_div, input" id="">
        </div>

        <input type="submit" name="" id="submit">
        
        <h6>USUÁRIO: admin <br> SENHA: 1234</h6>
    </form>

</body>
</html>